html {
  font-family: helvetica, sans-serif;
}

header>h2 {
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: .5em;
  margin: .05em;
}

ul {
  margin: 0;
}

nav>ul {
  /*text-align: center;*/
  list-style-type: none;
  padding-left: 0;
}

ul>li {
  text-decoration: none;
  text-align: center;
  background-color: lightgray;
  padding: .4em;
  margin: .08em;
}


footer {
  text-align: center;
}

li>a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

footer {
  font-size: .7em;
  background-color: black;
  color: white;
  padding: 1em;
}

main>h2 {
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(252, 128, 113);
  padding: .8em;
  margin-top: .5em;
  margin-bottom: .5em;
}
main>h2 {
  /*text-align: center;*/
}

main {
  box-sizing: border-box;
  padding: 0em;
  margin: 0 1.5em 0 1.5em;
}

h2>span {
  font-weight: 600;
  border-bottom: 3px solid rgb(42, 224, 208);
}

main>div {

  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(42, 224, 208);
  padding: .8em;
  margin-top: .5em;
  margin-bottom: .5em;
}

div>p {
  font-size: .7em;
  font-weight: normal;
  margin-top: .3em;
  margin-bottom: .3em;
}
